**/__pycache__/**
datosLectura.csv
*.pyc
*.pyo
.venv/
venv/
__pycache__/
*.md
/results
/onlineCaptures
#/models
/utils/mvp
*.png
*.edf
resultsALL/utils/chequeo_calidad/pruebas/resultados_calidad/correlaciones_pearson_pares.csv
